.box{
    width: 100px;
    height: 100px;
}

.color-1{
background-color:#ffdf65;
}
.color-2{
background-color:#f8f9fa;
}
.color-3{
background-color:#636057;
}
.color-4{
background-color:#858377;
}
.color-5{
background-color:#494846;
}
.color-6{
background-color:#000027;
}
.color-7{
background-color:#373A3C;
}
.color-8{
background-color:#F7F7F7;
}
.color-9{
background-color:#999999;
}
.color-10{
    background-color:#e5e5e5;
}
.color-11{
background-color:#e8e8db;
}
.color-12{
    background-color:#000029;
}