@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.font-baloo-tamma2{
    font-family: 'Baloo Tamma 2', cursive;
}
// Letter spacing
.ls-1{
    letter-spacing: 1px;
}
.ls-2{
    letter-spacing: 2px;
}
.ls-3{
    letter-spacing: 3px;
}
